/**
 *
 * 大家好，我是刘东奇，是一名从事Web开发的软件工程师。
 * 相对于后端，我对前端领域更感兴趣，因为前端开发的即时反馈所带来的成就感是后端难以比拟的。
 *
 * 不信，我们一起敲一些代码，体会一下！
 *（本项目参考自国外一位程序员之手，strml.net）
 *
 */

/**
 * 首先给所有元素、所有css属性设置1秒钟的过渡效果
 */

* {
-webkit-transition: all 1s;
}

/**
 * 由于目前没有任何元素的任何属性发生改变，所以我们暂时感受不到效果
 * 不过，接下来将不同。。。
 *
 * Black on white is really boring,
 * so let's do something about it.
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * Hold on...
 */

pre, a {
  color: white;
}

/**
 * That's better. Sorry about your eyes.
 *
 * Working in this big empty space is tough.
 *
 * I'm going to make a nice area for us to work in.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 44.6%;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 10px 10px 20px;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
}

/**
 * Okay. We're going to start filling up the screen.
 * Let's get ready to do some work.
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * This is good, but all the text is white!
 * Let's make it even more readable.
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we're getting somewhere.
 * Time to get a little perspective.
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 94.5%;
}

/**
 * So, let's talk projects. That's why you're here, right?
 * I can't imagine you'd come just to see the pretty colors.
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
